<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='accounts.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body>
  <!-- background animation -->
  <section>
    <div class="animated-bg">
      <span class="word small fast" style="top: 15%; left: 20%;">Dictionary</span>
      <span class="word medium" style="top: 15%; left: 80%;">Dictionnaire</span>
      <span class="word large slow" style="top: 50%; left: 90%;">Wörterbuch</span>
      <span class="word medium fast" style="top: 60%; left: 60%;">辞書</span>
      <span class="word small" style="top: 30%; left: 0%;">قاموس</span>
      <span class="word" style="top: 70%; left: 30%;">शब्दकोश</span>
      <span class="word" style="top: 35%; left: 70%;">사전</span>
      <span class="word" style="top: 85%; left: 50%;">พจนานุกรม</span>
      <span class="word" style="top: 55%; left: 2%;">Kamus</span>
      <span class="word" style="top: 42%; left: 72%;">辞典</span>
      <span class="word" style="top: 80%; left: 10%;">Dizionario</span>
      <span class="word" style="top: 90%; left: 90%;">Словарь</span>
    </div>
  </section>
  
  <h2>Login</h2>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div class="flash">
        {% for category, message in messages %}
          <p class="{{ category }}">{{ message|safe }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <form action="/login" method="POST" class="form-container">
    <label for="username-input">Username:</label><br>
    <input type="text" id="username-input" name="username" required placeholder="Enter your username" title="Username"><br><br>

    <label for="password-input">Password:</label><br>
    <input type="password" id="password-input" name="password" required placeholder="Enter your password" title="Password"><br><br>

    <button type="submit">Login</button>
  </form>

  <p>Don't have an account? <a href="/register">Register here</a></p>
</body>

</html>